@charset "utf-8";
@use './modules/variables';

html,
body,
section,
main {
    box-sizing: border-box;
    margin: 0 auto;
}
div {
    box-sizing: border-box;
    margin: 0;
    line-height: 0;
}

img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

a {
    transition: ease 0.4s;
    text-decoration: none;

    &:hover {
        opacity: 0.7;
    }
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
    color: variables.$font-color;
    line-height: 1.5em;
}
