@charset "utf-8";
@use './modules/variables';

@mixin column4 {
    max-width: 220px;
    width: 24%;
}
@mixin column3 {
    max-width: 300px;
    width: 32%;
}
@mixin column2 {
    max-width: 460px;
    width: 49%;
}
@mixin column1 {
    max-width: 940px;
    width: 100%;
}

@mixin flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inner {
    max-width: variables.$max-lg;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    @include variables.mq(lg) {
        padding: 0 2%;
    }
    @include variables.mq(md) {
        padding: 0 4%;
    }
    @include variables.mq(sm) {
        padding: 0 4%;
    }
}

.flex-row {
    @include flex-row;
}

.column4-4 {
    @include flex-row;
    > * {
        @include column4;
    }
}
.column4-3 {
    @include flex-row;
    > * {
        @include column4;
        @include variables.mq(md) {
            @include column3;
        }
    }
}
.column4-2 {
    @include flex-row;
    > * {
        @include column4;
        @include variables.mq(md) {
            @include column2;
        }
    }
}
.column4-1 {
    @include flex-row;
    > * {
        @include column4;
        @include variables.mq(md) {
            @include column1;
        }
    }
}
.column3-3 {
    @include flex-row;
    > * {
        @include column3;
    }
}
.column3-2 {
    @include flex-row;
    > * {
        @include column3;
        @include variables.mq(md) {
            @include column2;
        }
    }
}
.column3-1 {
    @include flex-row;
    > * {
        @include column3;
        @include variables.mq(md) {
            @include column1;
        }
    }
}
.column2-2 {
    @include flex-row;
    > * {
        @include column2;
    }
}
.column2-1 {
    @include flex-row;
    > * {
        @include column2;
        @include variables.mq(md) {
            @include column1;
        }
    }
}

.float-left-img {
    margin-bottom: 40px;
    @include variables.mq(lg) {
        margin-bottom: 4%;
    }
    @include variables.mq(md) {
        margin-bottom: 8%;
    }
    &::after {
        content: '';
        display: block;
        clear: both;
    }
    > img {
        float: left;
        margin-right: 20px;
        @include variables.mq(lg) {
            width: 49%;
            margin-right: 2%;
        }
        @include variables.mq(md) {
            width: 100%;
            float: none;
            margin-right: auto;
            margin-bottom: 4%;
        }
    }
}

.float-right-img {
    margin-bottom: 40px;
    @include variables.mq(lg) {
        margin-bottom: 4%;
    }
    @include variables.mq(md) {
        margin-bottom: 8%;
    }
    &::after {
        content: '';
        display: block;
        clear: both;
    }
    > img {
        float: right;
        margin-left: 20px;
        @include variables.mq(lg) {
            width: 49%;
            margin-left: 2%;
        }
        @include variables.mq(md) {
            width: 100%;
            float: none;
            margin-left: auto;
            margin-bottom: 4%;
        }
    }
}

.wide-left-img {
    position: relative;
    padding-top: 100px;
    @include variables.mq(lg) {
        padding-top: 10%;
    }
    > img {
        width: 980px;
        position: absolute;
        top: 0;
        left: -480px;
        @include variables.mq(lg) {
            width: 80%;
            left: 0;
        }
    }
    > div {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background: rgba(255, 255, 255, 1);
            width: 540px;
            height: 100%;
            top: 0;
            right: -540px;
            bottom: 0;
            margin: auto;
            @include variables.mq(lg) {
                display: none;
            }
        }
    }
}

.wide-right-img {
    position: relative;
    padding-top: 100px;
    @include variables.mq(lg) {
        padding-top: 10%;
    }
    > img {
        width: 980px;
        position: absolute;
        top: 0;
        right: -480px;
        @include variables.mq(lg) {
            width: 80%;
            right: 0;
        }
    }
    > div {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background: rgba(255, 255, 255, 1);
            width: 540px;
            height: 100%;
            top: 0;
            left: -540px;
            bottom: 0;
            margin: auto;
            @include variables.mq(lg) {
                display: none;
            }
        }
    }
}

.table-box {
    width: 100%;
    border-collapse: collapse;
    tbody {
        border-top: 1px solid #666;
        tr {
            border-bottom: 1px solid #666;
            td {
                padding: 20px;
                box-sizing: border-box;
                color: #333;
                font-size: 20px;
                vertical-align: top;
                @include variables.mq(lg) {
                    font-size: 16px;
                    padding: 2%;
                }
                &::nth-of-type(1) {
                    width: 25%;
                }
                &::nth-of-type(2) {
                    width: 75%;
                }
            }
        }
    }
}
