@charset "utf-8";
@use './modules/variables';

@mixin column4 {
    max-width: 220px;
    width: 24%;
}
@mixin column3 {
    max-width: 300px;
    width: 32%;
}
@mixin column2 {
    max-width: 460px;
    width: 49%;
}
@mixin column1 {
    max-width: 940px;
    width: 100%;
}

@mixin flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-row {
    @include flex-row;
}

.column4-4 {
    @include flex-row;
    > * {
        @include column4;
    }
}
.column4-3 {
    @include flex-row;
    > * {
        @include column4;
        @include variables.mq(md) {
            @include column3;
        }
    }
}
.column4-2 {
    @include flex-row;
    > * {
        @include column4;
        @include variables.mq(md) {
            @include column2;
        }
    }
}
.column4-1 {
    @include flex-row;
    > * {
        @include column4;
        @include variables.mq(md) {
            @include column1;
        }
    }
}
.column3-3 {
    @include flex-row;
    > * {
        @include column3;
    }
}
.column3-2 {
    @include flex-row;
    > * {
        @include column3;
        @include variables.mq(md) {
            @include column2;
        }
    }
}
.column3-1 {
    @include flex-row;
    > * {
        @include column3;
        @include variables.mq(md) {
            @include column1;
        }
    }
}
.column2-2 {
    @include flex-row;
    > * {
        @include column2;
    }
}
.column2-1 {
    @include flex-row;
    > * {
        @include column2;
        @include variables.mq(md) {
            @include column1;
        }
    }
}

.inner {
    max-width: variables.$max-lg;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    @include variables.mq(lg) {
        padding: 0 2%;
    }
    @include variables.mq(md) {
        padding: 0 4%;
    }
    @include variables.mq(sm) {
        padding: 0 4%;
    }
}
