@charset "UTF-8";
@use './modules/variables'; //関数
@use './modules/default';
@use './modules/layout';
@use './modules/parts';

html {
    background: variables.$bg-color;
}
body {
}

#header {
}
#grid-layout {
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: 1fr;
    max-width: 1200px;
    margin: 0 auto;
    column-gap: 2%;
}
#main {
    grid-column: 1/2;
    grid-row: 1/1;
}

#sidebar {
    grid-column: 2/2;
    grid-row: 1/1;
}

#footer {
}

h1 {
    @include variables.h1;
    color: variables.$font-color;
    font-weight: bold;
}

h2 {
    @include variables.h2;
    color: variables.$font-color;
    font-weight: bold;
}

h3 {
    @include variables.h3;
    color: variables.$font-color;
    font-weight: bold;
}

h4 {
    @include variables.h4;
    color: variables.$font-color;
    font-weight: bold;
}

h5 {
    @include variables.h5;
    color: variables.$font-color;
    font-weight: bold;
}

h6 {
    @include variables.h6;
    color: variables.$font-color;
    font-weight: bold;
}

p,
span,
li,
strong {
    @include variables.p;
    color: variables.$font-color;
    font-weight: bold;
}

strong {
    background: linear-gradient(transparent 60%, #ffff00 60%);
}
